<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/shop</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">11</property>
      
    
    <property name="connection.pool_size">1</property> 
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    
    <property name="show_sql">true</property>
    
    
     <mapping class="logic.Users"/>
     <mapping class="logic.Order"/>
     <mapping class="logic.OrderItems"/>
     <mapping class="logic.Product"/>
     <mapping class="logic.Category"/>
     

    
  </session-factory>
</hibernate-configuration>
